<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- body %>
    </div>
    <script defer src="/javascripts/variables.js"></script>
    <script defer src="/javascripts/pagination.js"></script>
    <script defer src="/javascripts/selection.js"></script>
    <script defer src="/javascripts/modal.js"></script>
    <script defer src="/javascripts/navigation.js"></script>
</body>

</html>